<!-- <nav class=" flex justify-between p-3">
    <ul class="flex space-x-4 mx-auto">
        <img src="" >
      <li *ngFor="let action of actions" class="mr-1">
        <button
          (click)="setCurrentAction(action)"
          [routerLink]="action.route"
          [class]="action == currentAction ? 'bg-green-500 text-white px-4 py-2 rounded-md' : 'bg-white text-green-500 border border-green-500 px-4 py-2 border-none'"
        >
          <span>{{action.title}}</span>
          <i class="bi bi-{{action.icon}}"></i>
        </button>
      </li>
    </ul>
    <ul class="flex space-x-8 mr-20">
        <button class="fas fa-search text-gray-600 hover:text-gray-900"></button> 
        <button class="fas fa-shopping-cart text-gray-600 hover:text-gray-900"></button>
    </ul>

  </nav> -->

  <nav class="flex justify-between bg-[#487d6e] p-3">
  <div class="flex items-center space-x-4 mx-auto">
    <ul class="flex space-x-4">
      <img src="" >
      <li *ngFor="let action of actions" class="mr-1">
        <button class="text-[#e3e6e6] hover:text-gray-900 px-4 py-2 rounded-md"
          [routerLink]="action.route"
        >
          <span>{{action.title}}</span>
          <i class="bi bi-{{action.icon}}"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="flex items-center text-[#e3e6e6] space-x-8 mr-20">
    <ul class="flex space-x-8">
      <li>
        <button class="fas fa-search hover:text-gray-900"></button>
      </li>
      <li>
        <button class="fas fa-shopping-cart hover:text-gray-900"></button>
      </li>
    </ul>
  </div>
</nav>

  <router-outlet>
    <!-- On va afficher le composant à l'intérieur de cette balise -->
  </router-outlet>
  